<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  		<h1>Editing Book</h1>

      <%= form_with model: @book, local:true do |f| %>
      <label>Title</label>
      <p><%=f.text_field :title,class: "form-control book_body" %></p>

      <label>Opinion</label>
      <p><%= f.text_area :body,class: "form-control book_body" %></p>

         <%= f.submit "Update Book",class: "btn btn-success" %>
      <% end %>

    	<p><%= link_to "Show",book_path(@book) %>|

    	<%= link_to "Back",books_path %></p>

    </div>
  </div>
</div>